SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
GOOGLE_DRIVE_FOLDER_ID=...
GOOGLE_API_CREDENTIALS=./service-account.json
MEMU_API_KEY=...
MEMU_TEAM_ID=slack_team
MEMU_AGENT_ID=slack-doc-bot
PORT=8000
